# FIREBASE
# cert data to string
FIREBASE_CERT = "JSON.stringify(the_file)"


# DISCORD
# discord bot token
DISCORD_TOKEN = ""
# discord application client id
DISCORD_CLIENT_ID = ""
# guild id for deploy
DISCORD_TARGRT_GUILD_ID = ""

# ETC
# server name
RUNNER_NAME = ""
